:root{
    --main-color:rgb(208, 22, 66);
}
*{
    font-family: Comic sans MS;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s liner;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: pink;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background-color: rgb(196, 192, 192);
}

section{
    padding: 2rem 9%;
}
.header{
    position: fixed;
    top:0;left:0;right:0;
    z-index:10000;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2%;
}
.header .logo{
    font-weight: bolder;
    color: rgb(208, 22, 66);
    font-size: 3rem;
    text-decoration: none;
}
.header .navbar a{
    font-size: 1.7rem;
    color: white;
    margin-right: 2rem;
    text-decoration: none;
}


.header .navbar a:hover{
    color: rgb(208, 22, 66);
    
}
#menu-bars{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
}

.home .content{
    text-align: center;
    padding-top: 4rem;
    margin: 2rem auto;
    max-width: 70rem;
}

.home .content h3{
    font-size: 3.5rem;
    font-weight: bold;
}
.home .content span{
    font-size: 5rem;
    font-weight: normal;
    color: rgb(208, 22, 66);
}
.home .content .e{
    font-size: 4rem;
    color: rgb(0, 0, 0);
}

.college-events h3{
    
    text-align: center;
    margin: 2rem auto;
    font-size: 4rem;
    max-width: 70rem;
}

.home .home-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 40rem;
    width: 35rem;
}

.home .home-slider .heading{
    font-size: 5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home .home-slider .swiper-slide img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.college-events .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}


.college-events .box-container .box{
    border-radius: .5rem;
    background-color: #b8abab;
    text-align: center;
    padding: 2.5rem;
}

.college-events .box-container .box img{
    height: 20rem;
    width:30rem;
    background-color: white;
    object-fit: contain;
    padding: 1.5rem;
    border-radius: 10rem;
}


.college-events .box-container .box .heading{
    font-size: 3rem;
    text-align: center;
}

.college-events .box-container .box h4{
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}

.college-events .box-container .box span{
    font-size: 1.7rem;
    font-family: serif;
    font-weight: normal;
    color: white;
}

.branch-events .heading{
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.branch-events .container button{
    height: 5rem;
    width: 20rem;
    row-gap: 5rem;
    text-align: centre;
    margin-inline-start: 5rem;
    margin-bottom: 5rem;
    border-radius: 1.2rem;
    border: 2px solid rgba(0, 0, 0,0.4);
    font-weight: bold;
    overflow: hidden;
    font-size: 30px;
}

.branch-events .container .badge{
    background-color: black;
    font-size: 2rem;
    transform: translate(-2rem, -3rem);
    font-weight: normal;
    border-radius: 5rem;
    margin: 0;
}


.college-events .oae a{
    
    font-size: 3rem;
    display:flex;
    color: var(--main-color);
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.college-events .oae a:hover{
    color: black;
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1rem 1rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
    }

    .header .navbar a{
        display: flex;
        background: #222;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        font-size: 2rem;
        width: 100%;
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .home .content h3{
        font-size: 3rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

}