<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equi="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href={{ url_for('static',filename='admin1.css') }}>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>

        <!--header-->
        <header class="header">
            <a herf="#" class="logo">SEC</a>

            <nav class="navbar">
                <a href={{ url_for('admin') }}>Home</a>
                <a href="#notifications">Notifications</a>
                <a href="#profile">Logout</a>
                <a href="#settings">Settings</a>
            </nav>
            
            <div id="menu-bars" class="fas fa-bars"></div>
        </header>
        <!-- home -->
        <section class="home" id="home">
            <div class="content">
                <h3><span>S</span>tudent <span>E</span>vent <span>C</span>alander <span class="e">!</span></h3>
            </div>
            <div>
                <center><h3 class="heading">{{ Heading }}</h3></center>
            </div><br>
            {% for i in events %}
            <center><h3 class="ename" style="font-size: 3rem;">{{i.ename }}</h3></center>
                <br><br><div>
                    <img style="width:400px;height:220px" src={{ url_for('static',filename=i.eposter) }}>
                   </div> <br><br>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <th style="font-size: 2rem;">Event Name</th>
                        <td >{{i.ename}}</td>
                        
                    </tr>
                    <tr>
                        <th >Desription</th>
                        <td>{{i.edesc}}</td>
                    </tr>
                    <tr>
                        <th >Timings</th>
                        <td>{{i.edate}}</td>
                    </tr>
                    <tr>
                        <th >Venue</th>
                        <td>{{i.evenue}}</td>
                    </tr>
                    <tr>
                        <th >Organiser</th>
                        <td>{{i.oname}}</td>
                    </tr>
                    <tr>
                        <th >Contact Number</th>
                        <td>{{i.ophno}}</td>
                    </tr>
                    <tr>
                        <th >Organising Branch</th>
                        <td>{{i.odept}}</td>
                    </tr>
                    <center><a href={{ url_for('event',eid=i.eid) }}>Click Here to know more</a></center>
                </tbody>
                </table>
                {% if ie == 1 %}
                <div class="btns">
                    <div class="btn">
                        <a href={{url_for('verification',b=1,eid=i.eid)}}> <button class="verify"  >verify</button></a>
                    </div>
                    <div class="btn">
                        <a href={{url_for('verification',b=0,eid=i.eid)}}><button class="delete">delete</button></a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="{{ url_for('static',filename='script.js')}}"></script>
        
    
        
    </body>
</html>