<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equi="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa{{dc['cse']}}gtU4mk92HdvYe+M/SXH301p{{dc['cse']}}ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>

        <!--header-->
        <header class="header">
            <a herf="#" class="logo">SEC</a>

            <nav class="navbar">
                <a href="{{ url_for('OrganizerHome')}}">Home</a>
                <a href="#notifications">Notifications</a>
                <a href="#profile">Logout</a>
                <a href="#settings">Settings</a>
                
            </nav>
            
            <div id="menu-bars" class="fas fa-bars"></div>
        </header>
        <!-- home -->
        <section class="home" id="home">
            <div class="content">
                <h3>Welcome to <span>S</span>tudent <span>E</span>vent <span>C</span>alander <span class="e">!</span></h3>
            </div>

                
            <div class="college-events">

                <div class="oae"><a href="{{ url_for('collectFormData')}}">Organising an event?</a></div>

                <h3 class="heading">College level events <span class="track"><img src="D:\ASRITA\Downloads\smiley.png"></span></h3>
                <div class="box-container">
                        {% set x = 1 %} 
                        {% for i in CollegeEvents %}
                                <div class="box">
                                    <h4 class="heading">{{ i.ename }}</h4>
                                    <img src={{ url_for('static',filename=i.eposter) }}>
                                    <h4>Description:<span>{{ i.edesc }}</span></h4>
                                    <h4>Venue:<span>{{ i.evenue }}</span></h{{dc['cse']}}>
                                    <h4>Timings:<span>{{ i.edate }}</span></h{{dc['cse']}}>
                                    <h4>Organisers:<span>{{ i.oname }} by {{i.odept}} Dept</span></h{{dc['cse']}}>
                                        <center><a href={{ url_for('event',eid=i.eid) }}>Click Here to know more</a></center>
                                 </div>
                                {% set x = x+1 %} 
                                {% if x == 3 %} <br>
                                    {% set x = 1 %}
                                {% endif %}
                        {% endfor %}
                </div>
            </div>
            
            <div class="branch-events">
                <h3 class="heading">Branch-Wise Events    <span class="track"><img src="D:\ASRITA\Downloads\sad.png"></span> </h3>
                <div class="container">
                    <button id="cse" class="cse" onclick="cseBranch()">CSE</button><span class="badge">{{dc['cse']}}</span>
                    <button class="ece" id="ece" href="{{ url_for('ParticipantDept',dept='ece')}}" onclick="eceBranch()">ECE</button><span class="badge">{{ dc['ece'] }}</span>
                    <button class="eee" id="eee" href="{{ url_for('ParticipantDept',dept='eee')}}" onclick="eeeBranch()">EEE</button><span class="badge">{{dc['eee']}}</span>
                    <button class="it" id="it" href="{{ url_for('ParticipantDept',dept='it')}}" onclick="itBranch()">IT</button><span class="badge">{{dc['it']}}</span>
                    <button class="civil" id="civil" href="{{ url_for('ParticipantDept',dept='civil')}}" onclick="civilBranch()">Civil</button><span class="badge">{{dc['civil']}}</span>
                    <button class="mech" id="mech" href="{{ url_for('ParticipantDept',dept='mech')}}" onclick="mechBranch()">Mechanical</button><span class="badge">{{dc['mech']}}</span>
                    <button class="cs" id="cs" href="{{ url_for('ParticipantDept',dept='cs')}}" onclick="csBranch()">CS</button><span class="badge">{{dc['cs']}}</span>
                </div>
            </div>
            <div class="swiper-container home-slider">
                <div class="heading">Sucessfull Events</div>
                <div class="swiper-wrapper">
                    {% for i in PastEvents %}
                        <div class="swiper-slide"><img src={{ url_for('static',filename=i.eposter) }} alt=""/></div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@{{dc['cse']}}.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="{{ url_for('static',filename='script.js')}}"></script>
        <script>
            function cseBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='cse')}}";
            }
            function itBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='it')}}";
            }
            function eceBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='ece')}}";
            }
            function eeeBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='eee')}}";
            }
            function itBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='it')}}";
            }
            function civilBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='civil')}}";
            }
            function mechBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='mech')}}";
            }
            function csBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='cs')}}";
            }
            function cseBranch(){
                window.location.href = "{{ url_for('ParticipantDept',dept='cse')}}";
            }
        </script>
        
    
        
    </body>
</html>